@model ShopApp.Dtos.DisplayTags

<table class="table">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @for(int i = 1; i <= @Model.Tags.Count; i++)
    {
        <tr>
            <td>@i</td>
            <td>@Model.Tags[i - 1].Name</td>
            <td>@Html.ActionLink("Update", "Update", "Tags", new {@tagId = @Model.Tags[i - 1].Id}) |
                @Html.ActionLink("Delete", "Delete", "Tags", new {@tagId = @Model.Tags[i - 1].Id})
            </td>
        </tr>
    }
</table>