@model List<ShopApp.Dtos.Items.DisplayItem>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Expiry date</th>
        <th>Shop</th>
        <th>Tags</th>
        <th>Actions</th>
    </tr>

    @foreach(var item in @Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.ExpiryDate</td>
            @if(string.IsNullOrWhiteSpace(item.ShopName))
            {
                <td>N/A</td>
            }
            else
            {
                <td>@item.ShopName</td>
            }
            @if(!string.IsNullOrWhiteSpace(item.ItemTags))
            {
                <td>@item.ItemTags</td>
            }
            else
            {
                <td>N/A</td>
            }
            <td>@Html.ActionLink("Delete", "Delete_InProgress", "Items", item) |
                @Html.ActionLink("Update", "Update_InProgress", "Items", item)</td>
            
        </tr>
    }
</table>