@model ShopApp.Models.ShopItem

@using (Html.BeginForm("Update", "Items", FormMethod.Post))
{
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Expiry date</th>
            <th>Shop Id</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.Id, new {@readonly = "readonly"})</td>
            <td>@Html.TextBoxFor(s => s.Name)</td>
            <td>@Html.TextBoxFor(s => s.ExpiryDate)</td>
            @if(@Model != null)
            {
                @if(@Model.Shop != null)
                {
                    <td><input type="number" name="shopId" value="@Model.Shop.Id"/></td>
                }
                else
                {
                    <td><input type="number" name="shopId" value="0"/></td>
                }
            }
            else
            {
                <td><input type="number" name="shopId" value="0"/></td>
            }
            <td><input type="submit" value="Update"/></td>
        </tr>
    </table>
    @Html.ValidationSummary(false)
}